{%  extends "base.html.twig" %}


{%  block body %}
    <p>
    <hr>
<h1>{{ title }}</h1>
    </p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, doloremque dolorum est exercitationem explicabo in
    minima officiis, optio praesentium quam repellendus, reprehenderit vitae voluptatem? Laborum optio quos ratione.
    Aliquid consequatur dolor inventore iste laudantium molestiae nisi, quis ratione! A, cupiditate.</p><p>Ad, adipisci
    alias aliquid aperiam asperiores culpa doloremque eligendi error eum excepturi explicabo fugiat illo incidunt iste
    libero maiores maxime minima natus quaerat quam quia, rem reprehenderit sint sit suscipit tempora totam velit, vitae
    voluptas voluptatibus? Accusantium ipsum quo vero.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur deleniti dolorum esse illo impedit
        itaque repudiandae ut voluptas voluptatum! Accusantium aspernatur autem deserunt laudantium quod repellat sit
        vitae voluptatem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab amet aperiam beatae deleniti dolore eligendi eveniet explicabo fugit harum in iste magnam non quam quidem sequi similique sunt,
        suscipit temporibus tenetur ullam unde, voluptas, voluptatem. Aliquid at earum illum laborum minima provident quisquam unde! Ab accusantium,
        alias asperiores atque autem consectetur deleniti deserunt dolor doloremque earum enim eos error, est excepturi fugit impedit in incidunt ipsam
        magnam maiores molestiae natus neque perferendis possimus quisquam reiciendis rerum sequi tenetur velit veritatis?
        Ab architecto blanditiis expedita incidunt ipsam optio pariatur quidem sequi.</p>

{%  endblock %}