{% extends "base.html.twig" %}
{% block body %}
    <br><br><br>
    <hr>
    <h2>Cette page est en cours de construction !</h2>
    <hr>
    <h5>Merci pour votre compréhension ;-)</h5>
{% endblock %}